@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
#logo {
	height: 50%;
}
* {
	cursor: none !important;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#message {
	font-size: 200%;
	font-family: 'Roboto', sans-serif;
}
#timer {
	display: inline-block;
	font-size: 1000%;
	border: 4px solid #FF0000;
	background-color: #FFAAAA;
	width: auto;
	font-family: 'Roboto Mono', monospace;
	font-weight: 900;
}
